*                 text=auto

*.R               text
*.Rd              text
*.Rmd             text

*.csv             text
*.rda             binary

DESCRIPTION       text
LICENSE           text
NAMESPACE         text

CITATION          text
CITATION.cff      text

.gitattributes    text
.gitignore        text
.Rbuildignore     text
