<h1>Welcome to the Rnaught web application</h1>
<p>
  Rnaught is an R package and web application for estimating the
  <a href="https://en.wikipedia.org/wiki/Basic_reproduction_number" target="_blank">basic reproduction number</a>
  of infectious diseases. For information about using this application, view the
  <span class="fw-bold text-primary">Help <span class="glyphicon glyphicon-question-sign"></span></span> tab.
  To learn more about the package, visit the online
  <a href="https://MI2YorkU.github.io/Rnaught" target="_blank">documentation</a> or
  <a href="https://github.com/MI2YorkU/Rnaught" target="_blank">GitHub</a> repository.
  Technical details about the estimators featured in this project can be found in the reference
  <a href="https://doi.org/10.1371/journal.pone.0269306" target="_blank">article</a>.
</p>

<h4>What is the basic reproduction number?</h4>
<p>
  The basic reproduction number, denoted <em>R<sub>0</sub></em>, is defined as the expected number of infections caused by a
  single infectious individual when introduced into a totally susceptible population. It assumes that all individuals in a given population are susceptible to the disease,
  and that no preventive measures (such as lockdowns or vaccinations) have been enforced. It is a useful
  indicator of the transmissibility of an infectious disease during the early stages of its spread and detection.
</p>
<p>
  If <em>R<sub>0</sub></em> &lt; 1, then the disease will eventually die out. On the other hand, if
  <em>R<sub>0</sub></em> &gt; 1, the disease will spread (the higher the <em>R<sub>0</sub></em>, the faster this will happen). Due to uncertainty of known data about the disease, it is difficult to
  determine <em>R<sub>0</sub></em> precisely.
  Therefore, many estimation methods exist, each based on different assumptions and yielding different estimates. It is the
  responsibility of users to employ the most appropriate estimator (or suite of estimators) given the situation at hand.
</p>
