<div class="container-fluid tab-content px-3 py-3">
  <div id="about" class="tab-pane fade show active px-1">
    {{ htmlTemplate("templates/content/about.html") }}
  </div>
  <div id="data" class="tab-pane fade">
    {{ htmlTemplate("templates/content/data.html") }}
  </div>
  <div id="estimation" class="tab-pane fade">
    {{ htmlTemplate("templates/content/estimation.html") }}
  </div>
   <div id="help" class="tab-pane fade">
    {{ htmlTemplate("templates/content/help.html") }}
  </div>
</div>
