<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <!-- Project name and description. -->
    <a class="navbar-brand text-primary" href="/">Rnaught Web</a>
    <span class="navbar-text d-none d-md-block">
      An estimation suite for <em>R<sub>0</sub></em>
    </span>
    <!-- Navigation toggler for smaller screens. -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-toggle">
      <span class="glyphicon glyphicon-menu-hamburger text-primary"></span>
    </button>
    <!-- Navigation links. -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-toggle">
      <div class="navbar-nav">
        <a class="nav-link text-primary" href="https://MI2YorkU.github.io/Rnaught" target="_blank">
          <span class="glyphicon glyphicon-book"></span> Documentation
        </a>
        <a class="nav-link text-primary" href="https://github.com/MI2Yorku/Rnaught" target="_blank">
          <span class="glyphicon glyphicon-console"></span> Source
        </a>
        <a class="nav-link text-primary" href="https://doi.org/10.1371/journal.pone.0269306" target="_blank">
          <span class="glyphicon glyphicon-education"></span> Article
        </a>
      </div>
    </div>
  </div>
</nav>
