<nav class="nav nav-pills nav-fill">
  <a class="nav-link rounded-0 active" data-bs-toggle="pill" href="#about">
    About <span class="glyphicon glyphicon-info-sign"></span>
  </a>
  <a class="nav-link rounded-0" data-bs-toggle="pill" href="#data">
    Data <span class="glyphicon glyphicon-list-alt"></span>
  </a>
  <a class="nav-link rounded-0" data-bs-toggle="pill" href="#estimation">
    Estimation <span class="glyphicon glyphicon-random"></span>
  </a>
  <a class="nav-link rounded-0" data-bs-toggle="pill" href="#help">
    Help <span class="glyphicon glyphicon-question-sign"></span>
  </a>
</nav>
