<div class="accordion accordion-flush" id="estimators-accordion">
  {{
  htmlTemplate("templates/content/estimators/add-estimators/components/panel.html",
  id = "id", header = "Incidence Decay (ID)", reference_label = "Fisman et al.
  (PloS One, 2013)", reference_url =
  "https://doi.org/10.1371/journal.pone.0083622" ) }} {{
  htmlTemplate("templates/content/estimators/add-estimators/components/panel.html",
  id = "idea", header = "Incidence Decay and Exponential Adjustment (IDEA)",
  reference_label = "Fisman et al. (PloS One, 2013)", reference_url =
  "https://doi.org/10.1371/journal.pone.0083622" ) }} {{
  htmlTemplate("templates/content/estimators/add-estimators/components/panel.html",
  id = "seq_bayes", header = "Sequential Bayes (seqB)", reference_label =
  "Bettencourt and Riberio (PloS One, 2008)", reference_url =
  "https://doi.org/10.1371/journal.pone.0002185" ) }} {{
  htmlTemplate("templates/content/estimators/add-estimators/components/panel.html",
  id = "wp", header = "White and Pagano (WP)", reference_label = "White and
  Pagano (Statistics in Medicine, 2008)", reference_url =
  "https://doi.org/10.1002/sim.3136" ) }}
</div>
