body {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

noscript {
  text-align: center;
}

.shiny-notification {
  background-color: black;
  color: white;
}

.plotly-notifier .notifier-note {
  background-color: black !important;
  color: white !important;
}

#data_upload {
  display: none;
}
